@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';


.full-width {
    width: 50%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%;
    padding-left:50px;
}